<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>The Home page
<%= 
'hello World'.toUpperCase()
%>

  </h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati non dolorum praesentium molestias iure numquam, necessitatibus perferendis neque sint modi labore aut sapiente nemo repellat est inventore commodi cupiditate voluptatibus!</p>  
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae culpa nostrum enim repellendus alias dicta maxime et ipsum. Earum culpa dolorem nisi minus nesciunt, sint molestias reprehenderit perferendis reiciendis alias.</p>
</body>
</html>